* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100%;
  position: relative;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
  }

.wrapper {
  width: 80%;
  margin: 0 auto;
}


.arrow {
  font: bolder;
  height: 20px;
  width: auto;
  border: none;
  box-shadow: none;
  margin-top: 500px;
  transition: ease 0.5s;
}

.arrow:hover {
  margin-top: 505px;
}

header {
  height: 100px;
  width: 100%;
}



.logo {
  display: inline;
}

.buttons {
  display: inline;
}
  
nav {
  float: right;
}

nav a {
    padding: 0 10px;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;
    margin-right: 0px;
  }

nav a:hover {
    text-decoration: none;
    color: black;
    
}

nav a:active {
    color: blueviolet;
}



#title span:before,
#title span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 2px solid white;
    top: 0;
    width: 100%;
  }
#title span:before {
    right: 100%;
    margin-right: 15px;
  }
#title span:after {
    left: 100%;
    margin-left: 15px;
  } 

.banner-area {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("/resources/5468BA0F-B432-4B56-AC57-0BCB37EEC949_1_201_a.jpeg");
  background-color: white;
  background-position: center center;
  background-size: cover;
  
}

.banner-area h5 {
  padding-top: 18px;
  font-size: 15px;
  color: white;
  text-align: center;
  font-style: oblique;
}

.banner-area h1 {
  padding-top: 140px;
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  position: relative;
}




.content-area {
  width: 100%;
  position: relative;
  top: 1000px;
  background: #ffffff;
  height: 100%;
  overflow: scroll;
}


.content-area h2 {
  letter-spacing: 4px;
  padding-top: 70px;
  font-size: 40px;
  margin: 0;
  color:black;
  font-weight: bolder;
  padding-bottom: 40px;
}

.content-area p {
  padding: 2% 0;
  line-height: 30px;
  text-align: left;
}

.content-area img {
  height: 200px;
  width: auto;
  border-radius: 20px;
  border: solid black 2px;
  box-shadow: 6px 6px 6px 6px rgba(0,0,0,.2);
}

.fancy {
  line-height: 0.1;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;  
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 2px solid black;
  top: 0;
  width: 100%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

#about-me img {
  height: 400px;
  width: auto;
  border: none;
}

#about-me {
  background-color: #000033;
  width: 100%;
  height: 100%;
}

#about-me h2{
  color: white;
}
#about-me p {
  color: white;
}

#skills {
  background-color: white;
  height: 750px;
}



.skills-des {
  float: left;
  padding: 0px;
  width: 25%;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.img-des {
  position: absolute;
  float: left;
  padding: 0px;
  width: 25%;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 115px;
  top: 50;
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-weight: bolder;
}




.skills-des:hover .img-des {
  opacity: 1;
  visibility: visible;
}



.skills-des img {
  border-radius: 100px;
  
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column h3 {
  color: rgb(151, 131, 19);
  text-align: left;
  font-size: 35px;
}

.column h3:hover {
  opacity: 0.5;
}

.column h4 {
  color:rgb(18, 94, 28);
  text-align: left;
  font-size: 20px;
}

.column h5 {
  color: black;
  text-align: left;
  font-size: 20px;
}



.column a:hover {
 text-decoration: none;
}

.wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.interests-wrap {
  background-color: rgb(223, 223, 225);
}


.photography {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


.photos {
  padding-bottom: 50px;
  margin: 0px;
  float: left;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.photos img {
  border: none;
  border-radius: 5px;
  height: 300px;
  width: auto;
  padding: 0 0 0 0;
  margin: 0;
  transition: transform 0.5s ease;
}



.photos img:hover {
  -webkit-transform: scale(1.5);
}





.articles h2 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 35px;
}

.articles h2:hover {
  opacity: 0.5;
}

.articles a {
  text-decoration: none;
}

.articles-wrap {
  padding-bottom: 50px;
  
}



 #footer {
    font-size: 12px;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color: white;
 }

 #footer h2 {
   padding-bottom: 20px;
 }

 #footer h4 {
   padding-top: 20px;
   font-style: oblique;
 }

#footer .wrapper {
  background-color: white;
  width: 100%;
}

 #footer img {
   height: 100px;
   width: auto;
   align-content: center;
   border-radius: 2px;
   border: none;
   margin: 0;
   padding: 0;
   transition:transform 0.5s ease;
   box-shadow: none;
 }


#footer img:hover {
  -webkit-transform: scale(2.0);
}


#footer .column {
  width: 25%;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#footer p {
  text-align: center;
  padding-bottom: 0;
  bottom: 0;
}

.content {
  width: 100%;
  position: static;
  top: 1000px;
  background: white;
  height: 100%;
  overflow: scroll;
}

.content h2 {
  padding-top: 100px;
  text-align: left;
  padding-bottom: 30px;
  font-size: 30px;
}

.content img {
  width: auto;
  height: 295px;
  float: left;
  border: black solid 1px;
  border-radius: 5px;
}

.content p {
  float: left;
  text-align: justify;
  width: 525px;
  padding-top: 25px;
}





@media only screen and (min-width: 1351px) and (max-width: 1366px){
  .banner-area {
    height: 1000px;
  }
}


@media only screen and (orientation: landscape) and (max-width: 1350px) {
  .buttons {
    visibility: hidden;
  }
  .logo {width: 100%;
    float: left;
    line-height: 50px;
  }
  .skills-des img {
    border-radius: 100px;
    height: 150px;
  }

  #about-me p {
    padding: 65px;
  }
  
 
}

@media only screen and (min-width: 769px) and (max-width: 1350px) {
  .buttons {
    visibility: hidden;
  }
  .logo {
    width: 100%;
    float: left;
    line-height: 50px;
  }
  
  .banner-area h1 {
    padding-top: 200px;
  }
  .arrow {
    margin-top: 670px;
  }

.arrow:hover {
  margin-top: 675px;
}

  header {
    height: 50px;
  }


}


@media only screen and (min-width: 415px) and (max-width: 768px) {
  .buttons {
    visibility: hidden;
  }
  header {
    height: 50px;
  }

  .banner-area h1 {
    padding-top: 200px;
  }

  .arrow {
    margin-top: 650px;
  }
  .arrow:hover {
    margin-top: 655px;
  }

  .logo {width: 100%;
    float: left;
    line-height: 50px;
  }
  .skills-des img {
    border-radius: 100px;
    height: 150px;
  }
 
  

}




@media only screen and (min-width: 411px) and (max-width: 414px) {
  .buttons {
    visibility: hidden;
  }
    
  .logo {width: 100%;
    float: left;
    line-height: 50px;
  }

  header {
    height: 50px;
  }
  
  
  .logo a {
    text-decoration: none;
    font-size: 30px;
  }

  .arrow {
    margin-top: 465px;
    transition: ease 0.5s;
  }
  
  .arrow:hover {
    margin-top: 470px;
  }
  


  .banner-area {
    width: 100%;
    position: fixed;
    background-size: cover;
  }
  
  

  .banner-area h1 {
    font-size: 25px;
    padding-top: 20%;
  }
  
  .skills-des {
    float: left;
    padding: 10px;
    width: 50%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    position: relative;
  }
  
  .img-des {
    position: absolute;
    float: left;
    padding: 0px;
    width: 50%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 100px;
    top: 50;
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-weight: bolder;
  }
  
  
  .skills-des img {
    border-radius: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .wrapper {
    width: 60%;
    margin: 0 auto;
  }


  .column {
    float: left;
    width: 100%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .column img {
    height: 150px;
    float: left;
  }
  
  .column h3 {
    font-size: 30px;
    float: left;
  }
  
  .column h4 h5 {
    font-size: 15px;
    align-content: center;
  }
}


@media only screen and (min-width: 375px) and (max-width: 410px){
  .buttons {
    visibility: hidden;
  }
    
  .logo {
    width: 100%;
    float: left;
    line-height: 50px;
  }
  
  header {
    height: 50px;
  }
  
  
  .logo a {
    text-decoration: none;
    font-size: 30px;
  }
  
  
  
  .banner-area {
    width: 100%;
    position: fixed;
    background-size: cover;
  }
  
  
  .banner-area h1 {
    font-size: 25px;
    padding-top: 50px;
  }
  
  .arrow {
    margin-top: 445px;
    transition: ease 0.5s;
  }
  
  .arrow:hover {
    margin-top: 450px;
  }
  
  
  .skills-des {
    float: left;
    padding: 10px;
    width: 50%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 80px;
    display: block;
    position: relative;
  }
  
  .img-des {
    position: absolute;
    float: left;
    padding: 0px;
    width: 50%;
    padding: 5px;
    padding-top: 0px;
    left: 115px;
    top: 50;
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-weight: bolder;
  }
  
  
  
  .skills-des:hover .img-des {
    opacity: 1;
    visibility: visible;
  }
  
  
  .skills-des img {
    border-radius: 100px;
    height: 150px;
    margin-bottom: 0px;
    
  }
  
  .column {
    float: left;
    width: 100%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .column img {
    height: 150px;
    float: left;
  }
  
  .column h3 {
    font-size: 30px;
    float: left;
  }
  
  .column h4 h5 {
    font-size: 15px;
  }
  
  #footer img {
    height: 80px;
  }
  
  }

@media only screen and (min-width: 361px) and (max-width: 374px) {
  
.buttons {
  visibility: hidden;
}
  
.logo {
  width: 100%;
  float: left;
  line-height: 50px;
}

header {
  height: 50px;
}


.logo a {
  text-decoration: none;
  font-size: 30px;
}



.banner-area {
  width: 100%;
  position: fixed;
  background-size: cover;
}


.banner-area h1 {
  font-size: 25px;
  padding-top: 50px;
}

.arrow {
  margin-top: 233px;
  transition: ease 0.5s;
}

.arrow:hover {
  margin-top: 238px;
}


.skills-des {
  float: left;
  padding: 10px;
  width: 50%;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 80px;
  display: block;
  position: relative;
}

.img-des {
  position: absolute;
  float: left;
  padding: 0px;
  width: 50%;
  padding: 5px;
  padding-top: 0px;
  left: 115px;
  top: 50;
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-weight: bolder;
}



.skills-des:hover .img-des {
  opacity: 1;
  visibility: visible;
}


.skills-des img {
  border-radius: 100px;
  height: 150px;
  margin-bottom: 0px;
  
}

.column {
  float: left;
  width: 100%;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column img {
  height: 150px;
  float: left;
}

.column h3 {
  font-size: 30px;
  float: left;
}

.column h4 h5 {
  font-size: 15px;
}

#footer img {
  height: 80px;
}

}

@media only screen and (max-width:360px) {
  .buttons {
    visibility: hidden;
  }
    
  .logo {
    width: 100%;
    float: left;
    line-height: 50px;
  }
  
  
  .logo a {
    text-decoration: none;
    font-size: 30px;
  }
  
  
  .banner-area h1 {
    font-size: 25px;
    padding-top: 55px;
  }
  
  .arrow {
    margin-top: 385px;
    transition: ease 0.5s;
  }
  
  .arrow:hover {
    margin-top: 390px;
  }


  .skills-des {
    float: left;
    padding: 10px;
    width: 50%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    position: relative;
  }
  
  .img-des {
    position: absolute;
    float: left;
    padding: 0px;
    width: 50%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 115px;
    top: 50;
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-weight: bolder;
  }
  
  
  
  .skills-des:hover .img-des {
    opacity: 1;
    visibility: visible;
  }
  
  
  .skills-des img {
    border-radius: 100px;
    height: 100px;
  }
  
  .column {
    float: left;
    width: 100%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .column img {
    height: 150px;
    float: left;
  }
  
  .column h3 {
    font-size: 30px;
    float: left;
  }
  
  .column h4 h5 {
    font-size: 15px;
  }

  #footer img {
    height: 50px;
  }

  #footer h2 {
    font-size: 25px;
  }

  #footer h4 {
    font-size: 15px;
  }

}

@media only screen and (max-width: 320px){

  #about-me img{
    height: 250px;
  }

  .banner-area h1 {
    padding-top: 15px;
  }
  .arrow {
    margin-top: 300px;
    transition: ease 0.5s;
  }
  
  .arrow:hover {
    margin-top: 305px;
  }
 

}
